<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/pageContnent.css" />
		<script type="text/javascript" src="js/jquery-3.0.0.min.js" ></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<style>
			.table_top{
				margin-top: 50px !important;
			}
		</style>
		<title>设计和论文撰写</title>
	</head>
	<body>
		<div class="page-content">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">设计和论文撰写</a>
				</li>
			</ul>
			<div class="table-responsive table-custom table_top">
				<table class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th><input id="checkbox-btn" type="checkbox" name="node" onclick="checkAll(this)"/></th>
							<th>序号</th>
							<th>内容</th>
							<th>起止时间</th>
							<th>剩余时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
						<tr>
							<th><input type="checkbox" name="node"/></th>
							<th>1</th>
							<th>java</th>
							<th>2016-12-19</th>
							<th>2016-12-06</th>
							<th>
								<span class="label label-success label-custom">
									未上传
								</span>
							</th>
							<th>
								<a href="uploadDesign.html" class="btn btn-xs btn-primary">上传</a>
								<a href="uploadDesign.html" class="btn btn-xs btn-success">修改</a>
								<a href="javascript:void(0)" class="btn btn-xs btn-danger"onclick="remove(this,1)">下载</a>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
				<div class="page-info">共100页，当前第<input type="text" class="page-input" value="1"/>页/共1000条数据</div>
					<ul class="pagination pagination-lg pull-right">
						<li class="disabled"><a href="#">首页</a></li>
					    <li class="disabled"><a href="#">上一页</a></li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li><a href="#">下一页</a></li>
					    <li><a href="#">尾页</a></li>
					</ul>
		</div>
	</body>
	<script type="text/javascript">
		function checkAll(obj){
		    $(".table-custom input[type='checkbox']").prop('checked', $(obj).prop('checked'));
		} 
		function choose (obj,id) {
  					layer.confirm('您是否确定上传？', {
  						btn: ['确定','取消'] //按钮
					},function(){
						layer.msg('选择成功！');
					},function(){
						layer.msg('选择失败！',{time:2000});
					}, function(){
						window.location.href = "/purchase/delete?id="+id;
					}
  					);
 				}
 				function remove(obj,id){
  					layer.confirm('您是否确定下载？', {
  						btn: ['确定','取消'] //按钮
					},function(){
						layer.msg('删除成功！');
					},function(){
						layer.msg('删除失败！',{time:2000});
					}, function(){
						window.location.href = "/purchase/delete?id="+id;
					});
				}
	</script>
</html>
