<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/pageContnent.css" />
		<link rel="stylesheet" href="css/gloab.css" />
		<link rel="stylesheet" type="text/css" href="css/step.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<title>动态表单</title>
		<style type="text/css">
			.node{
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="page-content">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">动态表单</a>
				</li>
			</ul>
			<div class="btn-wrap">
				<span class="btn-left">
					<a href="javascript:void(0)" class="btn btn-warning" id="btn_addtr">
						<i class="glyphicon glyphicon-plus"></i>新增行
					</a>
					<a href="javascript:void(0)" class="btn btn-danger">
						<i class="glyphicon glyphicon-trash"></i>重置
					</a>
				</span>
			</div>
			<div class="table-responsive table-custom">
				<table id="tab11" style="display: none">
					<tbody>
						<tr>
							<th><input type="text" class="form-control node" disabled name="NO" size="2" value="1"/></th>
							<th><input type="text" name="content" class="form-control" /></th>
							<th><input type="text" name="start_time" class="form-control" /></th>
							<th><input type="text" name="end_time" class="form-control" /></th>
							<th><a href="javascript:void(0)" class="btn btn-danger" onclick="deltr(this)">删除行</a></th>
						</tr>
					</tbody>
				</table>
				<table id="dynamicTable" class="table table-hover table-bordered table-striped">
					<thead>
							<tr>
								<th>编号</th>
								<th>各阶段内容</th>
								<th>开始日期</th>
								<th>截止日期</th>
								<th>操作</th>
							</tr>
					</thead>
					<tbody>
						<tr>
							<th><input type="text" class="form-control node" disabled name="NO" size="2" value="1"/></th>
							<th><input type="text" name="content" class="form-control" /></th>
							<th><input type="text" name="start_time" class="form-control" /></th>
							<th><input type="text" name="end_time" class="form-control" /></th>
							<th><a href="javascript:void(0)" class="btn btn-danger" onclick="deltr(this)">删除行</a></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function() {
			var show_count = 20; //要显示的条数
			var count = 1; //递增的开始值，这里是你的ID
			$("#btn_addtr").click(function() {
				var length = $("#dynamicTable tbody tr").length;
				//alert(length);
				if (length < show_count) //点击时候，如果当前的数字小于递增结束的条件
				{
					$("#tab11 tbody tr").clone().appendTo("#dynamicTable tbody"); //在表格后面添加一行
					changeIndex(); //更新行号
				}
			});
		});

		function changeIndex() {
			var i = 1;
			$("#dynamicTable tbody tr").each(function() { //循环tab tbody下的tr
				$(this).find("input[name='NO']").val(i++); //更新行号
			});
		}

		function deltr(opp) {
			var length = $("#dynamicTable tbody tr").length;
			//alert(length);
			if (length <= 1) {
				alert("至少保留一行");
			} else {
				$(opp).parent().parent().remove(); //移除当前行
				changeIndex();
			}
		}
	</script>

</html>