<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>bootstrap</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<title>bootstrap</title>
		<style>
			.infor{width: 240px;margin: 0 auto;border: solid 1px #ccc;}
			.img{margin: 0 auto;display: block;width: 120px;height: 140px;}
			.row{margin-top:20px ;}
			.text-center{margin: 5px;}
			.caption{height:115px;}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">副组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">副组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">副组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">副组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4">
					<div class="infor">
						<p class="text-center text-info" style="background: url(img/3.png) no-repeat center;">副组长</p>
						<a href="#"><img class="img" src="img/alumna.jpg"></a>
						<div class="caption">
							<p class="text-center">信息科学与工程学院</p>
							<p class="text-center">网络工程</p>
							<p class="text-center">1406102-07 ，刘佳乐</p>
							<p class="text-center">课题:刘学姐</p>
						</div>
						<div class="center-block" style="width: 70px;margin-top: 5px;margin-bottom: 5px;">
						    	<a href="teacherInfo.html" class="btn btn-info btn-sm">查看更多</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>