<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>  
        <setting name="logImpl" value="LOG4J" />  
    </settings>

	<typeAliases>
		<typeAlias type="com.hncu.entity.User" alias="User" />
		<typeAlias type="com.hncu.entity.Role" alias="Role" />
		<typeAlias type="com.hncu.entity.Permission" alias="Permission" />
		<typeAlias type="com.hncu.entity.Classes" alias="Classes" />
		<typeAlias type="com.hncu.entity.Dict" alias="Dict" />
		<typeAlias type="com.hncu.entity.Department" alias="Department" />
		<typeAlias type="com.hncu.entity.Major" alias="Major" />
		<typeAlias type="com.hncu.entity.Title" alias="Title" />
		<typeAlias type="com.hncu.entity.SysParam" alias="sysParam" />
		<typeAlias type="com.hncu.entity.DownLoad" alias="DownLoad" />
		<typeAlias type="com.hncu.entity.Upload" alias="Upload" />
		<typeAlias type="com.hncu.entity.StudentInfo" alias="Student" />
		<typeAlias type="com.hncu.entity.TeacherInfo" alias="Teacher" />
		<typeAlias type="com.hncu.entity.Understanding" alias="Understanding" />
		<typeAlias type="com.hncu.entity.Schedule" alias="Schedule" />
		<typeAlias type="com.hncu.entity.OpenTitle" alias="OpenTitle" />
		<typeAlias type="com.hncu.entity.Marking" alias="Marking" />
		<typeAlias type="com.hncu.entity.MiddleCheck" alias="MiddleCheck" />
		<typeAlias type="com.hncu.entity.MiddleCheckParam" alias="MiddleCheckParam" />
		<typeAlias type="com.hncu.entity.Answer" alias="Answer" />
		<typeAlias type="com.hncu.entity.SchoolReport" alias="SchoolReport" />
		<typeAlias type="com.hncu.entity.TeacherAndStudent" alias="TeacherAndStudent" />
		<typeAlias type="com.hncu.entity.TeacherUnderstanding" alias="TeacherUnderstanding" />
		<typeAlias type="com.hncu.entity.TeacherOpenTitle" alias="TeacherOpenTitle" />
		<typeAlias type="com.hncu.entity.TeacherSchedule" alias="TeacherSchedule" />
		<typeAlias type="com.hncu.entity.TeacherMarking" alias="TeacherMarking" />
		<typeAlias type="com.hncu.entity.TeacherMiddleCheck" alias="TeacherMiddleCheck" />
		<typeAlias type="com.hncu.entity.TeacherYearInfo" alias="TeacherYearInfo" />
		<typeAlias type="com.hncu.entity.Notice" alias="Notice" />
		<typeAlias type="com.hncu.entity.NoticeUser" alias="NoticeUser" />
		<typeAlias type="com.hncu.entity.Link" alias="Link" />
		<typeAlias type="com.hncu.entity.ReportAndFile" alias="ReportAndFile" />
		<typeAlias type="com.hncu.entity.ScoreScale" alias="ScoreScale" />
		<typeAlias type="com.hncu.entity.TeacherQuestion" alias="TeacherQuestion" />
	</typeAliases>


	
</configuration>